// http://ionicframework.com/docs/theming/

.tab-button-icon {
 color: #1a3c5d;
}

.card-title-md, .button-outline-md-sindicoB {
  word-wrap: break-word !important;
  white-space: unset;
}

.titulo{
  font-size: 3.0rem;
}

ion-card-header, .button-outline-md-sindicoB {
  white-space: unset;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-text   {
  color: #1a3c5d;
  transform: translate3d(0, -5px, 0);
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  font-size: 2em;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #1a3c5d;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
