<!--
  Pagina de teste para ACESSOS e LISTATESTE
-->
<ion-header>

    <ion-navbar color="danger">
      <ion-title>testeInfo</ion-title>
    </ion-navbar>

  </ion-header>

  <ion-content padding>
       
    <!-- <h1>{{ categories | json }}</h1> -->

    <ion-list>

        <ion-list-header>
            <h2 align="center">ÁREA DE TESTES</h2>
        </ion-list-header>

      <ion-item-sliding *ngFor="let resultado of categories" >

        <button ion-item class="resultadoTexto" (click)="editarPessoa(resultado.id_user)" >
        <ion-grid>
          <ion-row>
            <ion-col col-1 align-self-center float-left class="areaSeta" color="moldsoft1">
                <img src="assets/imgs/icones/seta-direita.png" alt="seta-direita" class="testeInfo">
            </ion-col>
            <ion-col col-11 float-right class="areaNome">
          <h1 class="resultadoTexto">{{ resultado.name }}</h1>
          <h4 class="resultadoTexto">{{ resultado.email }}</h4>
          <h4 class="resultadoTexto">{{ resultado.mobilePhone }}</h4>
          <h4 class="resultadoTexto">{{ resultado.status }}</h4>
        </ion-col>
        </ion-row>
        </ion-grid>
        </button>

        <ion-item-options icon-start side="left" (ionSwipe)="apagarPessoa(resultado.id_user)">
          <button ion-button expandable color="danger" (click)="apagarPessoa(resultado.id_user)">
            <ion-icon name="md-trash" class="opcaoSliding"></ion-icon>
            <span class="textoSliding">Excluir</span>
          </button>
          <button ion-button color="primary" (click)="editarPessoa(resultado.id_user)">
            <ion-icon name="md-paper" class="opcaoSliding"></ion-icon>
            <span class="textoSliding">Editar</span>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- Variavel abaixo printa a resposta setada em resultado2 na .ts-->
    <!-- {{resultado2 | json}} -->

    <!-- <ion-row align-items-center>
      <ion-col col-12 col-md-12 class="areaLogo">
        <ion-list>
          <ion-item-sliding *ngFor="let result of resultado2">

            <button ion-item>
              <h1>{{ result.access_token }}</h1>
              <h4>{{ result.id_user }}</h4>
              <h4>{{ result.token_type }}</h4>
              <h4>{{ result.issued_at }}</h4>
              <h4>{{ result.signature }}</h4>
            </button>

            <ion-item-options side="left">
              <button ion-button color="danger">
                <ion-icon name="trash" class="opcaoSliding"></ion-icon>
                Excluir
              </button>
              <button ion-button color="primary">
                <ion-icon name="paper" class="opcaoSliding"></ion-icon>
                Editar
              </button>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row> -->


  </ion-content>
