<!--
  Pagina de teste para ACESSOS e LISTATESTE
-->
<ion-header>

  <ion-navbar color="moldsoft1">
    <ion-title>testeInfo</ion-title>
  </ion-navbar>
  <ion-toolbar color="moldsoft1">
    <!-- [(ngModel)]="minhaPesquisa"  -->
    <ion-searchbar 
    [showCancelButton]="shouldShowCancel" 
    (ionInput)="pesquisarItens($event)" 
    (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-list-header color="moldsoft1" class="cabecalhoPrincipal" no-border >
      <ion-icon ios="ios-albums-outline" name="ios-albums-outline" md="md-albums" item-start></ion-icon>
      <h1>ÁREA DE TESTES</h1>
      <ion-fab middle right edge >
        <button color="moldsoft3" ion-fab mini> {{ count }} </button>
      </ion-fab>
  </ion-list-header>

  <ion-list>
    <ion-item-sliding *ngFor="let resultado of categories">

      <button ion-item class="resultadoTexto" (click)="editarPessoa(resultado.id_user)">
        <ion-grid>
          <ion-row>
            <ion-col col-1 align-self-center float-left class="areaSeta" color="moldsoft1">
              <img src="assets/imgs/icones/seta-direita.png" alt="seta-direita" class="testeInfo">
            </ion-col>
            <ion-col col-11 float-right class="areaNome">
              <h1 class="resultadoTexto"><ion-icon class="iconesContato iconesContato2" name="ios-contact-outline" color="moldsoft1" item-start></ion-icon>{{ resultado.name }}</h1>
              <h4 class="resultadoTexto"><ion-icon class="iconesContato" name="ios-at-outline" color="moldsoft1" item-start></ion-icon>{{ resultado.email }}</h4>
              <h4 class="resultadoTexto"  *ngIf = "resultado.mobilePhone != null"><ion-icon class="iconesContato" name="ios-call-outline" color="moldsoft1" item-start></ion-icon>{{ resultado.mobilePhone }}</h4> <!-- *ngIf = "resultado.mobilePhone" -->
              <h4 class="resultadoTexto"> <ion-icon class="iconesContato" name="ios-done-all-outline" color="moldsoft1" item-start></ion-icon>{{ resultado.status }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>

      <ion-item-options icon-start class="opcoesEditarExcluir" side="left" (ionSwipe)="apagarPessoa(resultado.id_user)">
        <button ion-button expandable color="danger" (click)="apagarPessoa(resultado.id_user)">
                <h1 class="h1"><ion-icon name="md-trash"></ion-icon></h1>
                <!-- class="opcaoSliding" -->
          <span class="textoSliding" item-end>Excluir</span>
        </button>

        <button ion-button class="opcoesEditarExcluir" color="moldsoft1" (click)="editarPessoa(resultado.id_user)">
                <h1 class="h1"><ion-icon name="md-paper"></ion-icon></h1>
                <!-- class="opcaoSliding" -->
          <span class="textoSliding" item-end>Editar</span>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Variavel abaixo printa a resposta setada em resultado2 na .ts-->
  <!-- {{resultado2 | json}} -->

  <!-- <ion-row align-items-center>
      <ion-col col-12 col-md-12 class="areaLogo">
        <ion-list>
          <ion-item-sliding *ngFor="let result of resultado2">

            <button ion-item>
              <h1>{{ result.access_token }}</h1>
              <h4>{{ result.id_user }}</h4>
              <h4>{{ result.token_type }}</h4>
              <h4>{{ result.issued_at }}</h4>
              <h4>{{ result.signature }}</h4>
            </button>

            <ion-item-options side="left">
              <button ion-button color="danger">
                <ion-icon name="trash" class="opcaoSliding"></ion-icon>
                Excluir
              </button>
              <button ion-button color="primary">
                <ion-icon name="paper" class="opcaoSliding"></ion-icon>
                Editar
              </button>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row> -->


  <ion-fab bottom right>
    <button ion-fab color="moldsoft3" (click)="criarPessoa()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <!-- <h1>{{ categories | json }}</h1> -->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>