page-home {
    
        background-color: #311D3F;
  
    p{
        text-align: justify;
    }
    ion-title {
        margin-right: 50px;
    }
   
}

.card-background-page {

  .card-title {
    top: 36%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
  }

  .text-subtitle {
      padding: 5%;
  }

}